@model Product

@{
    ViewData["Title"] = "AddProduct";
}

<form method="get">
    <label>NameProduct:</label><br />
    <input type="text" name="NameProduct" /><br /><br />
    <label>NameCategory:</label><br />
    <input type="text" name="NameCategory" /><br /><br />
    <label>PriseProduct:</label><br />
    <input type="number" name="PriseProduct" /><br /><br />

    <input type="submit" value="Отправить" />
</form>
