@using System.Security.Cryptography
@using Microsoft.CodeAnalysis

@{
    ViewData["Title"] = "Список категорий";
}

@foreach (var item in Catalog.Products)
{
    <h1>Имя категории: @item.NameCategory</h1>
    <h1>Имя продукта: @item.NameProduct</h1>
    <h1>Цена продукта @item.PriseProduct</h1>
}