@model Catalog

@{
    ViewData["Title"] = "Список категорий";
}

<form method="post">

    CatergoryId: <input type="text" name="CatergoryId" required/>
    <br/>
    <br/>
    CatergoryName: <input type="text" name="CatergoryName"/>
    <br/>
    <br/>
    ProductId: <input type="text" name="ProductId"/>
    <br/>
    <br/>
    ProductName: <input type="text" name="ProductName"/>
    <br/>
    <br/>
    <input type="submit" name="submit" value="Создать"/>
</form>