@model Catalog

@{
    ViewData["Title"] = "Список продуктов";
}

@foreach (var cat in Model.Catergories)
{
    <div>@cat.CatergoryId @cat.CatergoryName </div>
    foreach (var prod in cat.Products)
    {
        <div>@prod.ProductId @prod.ProductName</div>
    }
}
