@model ProductCatalog

@{
    ViewData["Title"] = "Список категорий";
}

<form method="post">

    ProductCatergoryId: <input type="text" name="ProductCatergoryId"/>
    <br/>
    <br/>
    ProductCatergoryName: <input type="text" name="ProductCatergoryName"/>
    <br/>
    <br/>
    ProductId: <input type="text" name="ProductId"/>
    <br/>
    <br/>
    ProductName: <input type="text" name="ProductName"/>
    <br/>
    <br/>
    Prise: <input type="text" name="prise"/>
    <br/>
    <br/>
    <input type="submit" name="text" value="Создать"/>
</form>