@using RazorApp1.Models.Entityes
@model Product

@{
    ViewData["Title"] = "Удаление Продукта";
}

<form method="post">

    ProductId: <input type="text" name="ProductId"/>
    <br/>
    <br/>
    <input type="submit" name="text" value="Удалить"/>
</form>