@using RazorApp1.Controllers
@model ProductCatalog 


@{
    ViewData["Title"] = "Список продуктов";
}

@foreach (var prod in Model.GetProductsInCatalog())
{
    <br />
        <div>Продукт- ID:@prod.ProductId Имя: @prod.ProductName Цена: @prod.Prise</div>
    <br/>
}

