@using Interfases
@model ICatalog<IProduct>

@{
    ViewData["Title"] = "Список продуктов";
}

@foreach (var cat in Model.GetCategories())
{
    <br/>
    <div>Категория- ID: @cat.ProductId Имя: @cat.ProductName </div>
    <br/>
}
